name: Deploy to CDN
on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - ".gitignore"

jobs:
  upload-to-cdn:
    permissions:
      contents: read
      id-token: write
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3" # ratchet:actions/checkout@v5
        with:
          persist-credentials: false

      - name: Upload dependencies to CDN
        uses: nais/deploy/actions/cdn-upload/v2@56e14061f2a8437bd9119e7b8f92749a3b288db1 # ratchet:nais/deploy/actions/cdn-upload/v2@master
        with:
          team: okonomi
          source: ./packages
          destination: sokos-shared-dependencies
